<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>注册</title>
        <meta charset="UTF-8">
		<meta name="keywords" content="人才,登录,招聘">
		<meta name="description" content="万才网登录">
		<meta name="author" content="王神勇">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">     
        <link href="../css/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="../css/loginzuc.css" rel="stylesheet" type="text/css">
        <script language="javascript" src="../css/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
        <script language="javascript" src="../css/bootstrap-3.3.5-dist/js/jquery.js"></script>
    </head>
    <body>
        <!--导航标-->
        <div class="container ">
            <div class="row daohang ">
                <div class="col-md-2">
                    <a href="#"> <span class="glyphicon glyphicon-menu-left  floatleft lh"></span></a>
                </div>
                <div class="col-md-10  ">
                    <span class="floatright lh">注册</span>
                </div>
            </div>
        </div>
		<!--表单-->
        <div class="container formclass">
            <form class="form-horizontal">   
                <!--邮箱-->
                <div class="input-group input-group-sm wh">
                    <span class="input-group-addon " ><span class="glyphicon glyphicon-envelope"> </span></span>
                    <input type="text" class="form-control" placeholder="邮箱" aria-describedby="sizing-addon1" />
                </div> 
                <!--验证码-->
                <div class="input-group input-group-sm wh">
                    <span class="input-group-addon " ><span class="glyphicon glyphicon-user"> </span></span>
                    <input type="text" class="form-control" placeholder="验证码" aria-describedby="sizing-addon1" />
                    <span class="input-group-addon " ><a href="#">点击获取验证码</a></span>
                </div> 
                <!--用戶名-->
                <div class="input-group input-group-sm wh">
                    <span class="input-group-addon " ><span class="glyphicon glyphicon-user"> </span></span>
                    <input type="text" class="form-control" placeholder="用户名" aria-describedby="sizing-addon1" />
                </div> 
                <!--密码-->
                <div class="input-group input-group-sm wh">
                    <span class="input-group-addon " ><span class="glyphicon glyphicon-lock"> </span></span>
                    <input type="text" class="form-control" placeholder="密码" aria-describedby="sizing-addon1" />
                </div> 
                <!--重新输入密码-->
                <div class="input-group input-group-sm wh">
                    <span class="input-group-addon " ><span class="glyphicon glyphicon-lock"> </span></span>
                    <input type="text" class="form-control" placeholder="再次确认密码" aria-describedby="sizing-addon1" />
                </div> 
                <!--选择登录类型-->
                <div class="form-group wh">     
                    <div class="radio col-md-6 col-lg-6 col-xs-6">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            个人
                        </label>
                    </div>   
                    <div class="radio col-md-6 col-lg-6 col-xs-6">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >
                            企业
                        </label>
                    </div>     
                </div> 
				<!--协议复选框-->
                <div class="checkbox">
                    <label >
                        <input type="checkbox" class="" value="">
                        我已经阅读并同意本网站协议
                    </label>
                </div>
				<!--登录按钮-->
                <div class="btn-group btn-group-justified xiexi " role="group" >
                    <input class="btn btn btn-success btn-primary btn-block" type="submit" value="登录">
                </div>
            </form>
        </div>   
    </body>
</html>
